/node_modules
/public/storage
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
Vagrantfile
/.vagrant
.vagrant/
.env
/bootstrap/compiled.php
/vendor
/config/database.php


/build/logs
/build/coverage


/app/tests/_log


composer.phar
.DS_Store
/.idea
/_ide_helper.php
/app/config/packages
/public/packages
/node_modules
